#container{
    /* border: 1px solid black; */
    width: 1300px;
    height: 1500px;
    display: flex;
    margin: auto;
}#side-bar-box{
    border: 1px solid black;
    flex-grow: 0.3;    
}#side-bar{
    display: flex;
    border: 1px solid black;
    width: 170px;
    height: 300px;
    margin-left: 10px;
    background-color: #feba00;
}#content-box1{
    border: 1px solid black;
    flex-grow: 3;    
    display: flex;
    flex-direction: column;
}#top-menu-box{
    border: 1px solid black;
    flex-grow: 0.3;
    display: flex;
}#content-box2{
    border: 1px solid black;
    flex-grow: 2;
    display: flex;
}#content{
    border: 1px solid black;    
    display: flex;
    width: 542px;
    flex-wrap: wrap;
    align-content: flex-start;
}#side-bar-right{
    border: 1px solid black;
    flex-grow: 1;
}#content-small{
    border: 1px solid black;
    width: 269px;
    height: 330px;
    display: flex;
    flex-direction: column;
}#panel-body{
    width: 100%;
    height: 216px;
    border: 1px solid black;
    display: flex;
}#panel-img{
    width: 187px;
    height: 141px;
    margin: auto;
}#panel-footer{
    width: 100%;
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
}#panel-footer-box{
    width: 237px;
    height: 56px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
}#top-menu{
    border: 1px solid black;
    flex-grow: 1;
}#top-menu-right{
    border: 1px solid black;
    flex-grow: 3;
}figcaption{
    text-align:center;
}#product-info{
    border: 1px solid black;
    width: 119px;
    height: 56px;
    display: flex;
    flex-direction: column;
}#product-control{
    border: 1px solid #d21920;
    border-radius: 3px;
    width: 119px;
    height: 36px;
    background-color: #feba00;
    display: flex;
    cursor: pointer;
    margin-left: 5px;

}#product-price{
    flex-grow: 1;
    border: 1px solid black;
    color: blue;
}#product-kacl{
    flex-grow: 1;
}#allergy{
    border: 1px solid black;
    flex-grow: 1;
    font-size: 15px;    
}#btn {
    text-align: center;
    width: 100%;
    text-decoration: none;
    margin: auto;
    color: #d21920;   
}

